In [6]:
import pyarrow.parquet as pq

filename = r"C:\Users\ClarissaOmolu\Downloads\yellow_tripdata_2019-09.parquet"
trips = pq.read_table(filename)
trips = trips.to_pandas()

In [7]:
display(trips)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2019-09-01 00:06:48,2019-09-01 00:25:46,1.0,2.00,1.0,N,186,161,2,13.00,3.00,0.5,0.0,0.00,0.3,16.80,2.5,None
1,1,2019-09-01 00:29:17,2019-09-01 00:57:54,1.0,5.50,1.0,N,161,256,2,22.50,3.00,0.5,0.0,0.00,0.3,26.30,2.5,None
2,1,2019-09-01 00:41:32,2019-09-01 00:41:36,1.0,2.90,1.0,N,145,145,2,2.50,0.50,0.5,0.0,0.00,0.3,3.80,0.0,None
3,1,2019-09-01 00:59:11,2019-09-01 00:59:15,1.0,0.00,1.0,N,145,145,2,2.50,0.50,0.5,0.0,0.00,0.3,3.80,0.0,None
4,1,2019-09-01 00:39:41,2019-09-01 00:45:06,1.0,1.50,1.0,N,95,93,2,7.00,0.50,0.5,0.0,0.00,0.3,8.30,0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6567783,2,2019-09-30 23:32:00,2019-09-30 23:58:00,NaN,12.58,NaN,None,237,197,0,42.06,2.75,0.5,0.0,0.00,0.3,45.61,NaN,None
6567784,2,2019-09-30 23:51:00,2019-10-01 00:11:00,NaN,9.69,NaN,None,230,243,0,38.44,2.75,0.5,0.0,0.00,0.3,41.99,NaN,None
6567785,2,2019-09-30 23:43:00,2019-10-01 00:06:00,NaN,16.27,NaN,None,241,56,0,40.93,2.75,0.5,0.0,6.12,0.3,50.60,NaN,None
6567786,2,2019-09-30 23:51:34,2019-10-01 00:32:04,NaN,15.13,NaN,None,140,76,0,34.97,2.75,0.0,0.0,6.12,0.3,44.14,NaN,None
6567787,2,2019-09-30 23:17:00,2019-09-30 23:35:00,NaN,12.61,NaN,None,53,38,0,30.54,2.75,0.5,0.0,0.00,0.3,34.09,NaN,None